<html>
<head>
<title>HandyHelper</title>
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="views/ajax.js"></script>
<script type="text/javascript"></script>
</head>

<body>
    <h1>* * Welcome to HANDY HELPER * *</h1>
    <p>Save and share recipes!</p>
    <p>Divide or double your recipes in a Snap!!</p>
    <!-- <h4>* * SEARCH ALL CHEFS * *</h4> -->
    <button id="searchAllChefs">Search all chefs.</button>
    <!-- <h4>* * SEARCH ALL RECIPES * *</h4> -->
    <button id="searchAllRecipes">Search all recipes.</button>
    <!-- <h4>* * GET RECIPE BY ID * *</h4> -->
    <button id="searchRecipeID">Get recipe by id.</button>
    <!-- <h4>* * DIVIDE RECIPE * *</h4> -->
    <button id="divideRecipe">Divide recipe.</button>
    <!-- <h4>* * DOUBLE RECIPE * *</h4> -->
    <button id="doubleRecipe">Double recipe.</button>
    <br><br>

    <p>* * ADD NEW RECIPE DETAILS and INGREDIENTS* *</p>
    <!-- <form method="post" id="postDetails">
        <input type="submit" value="STORE RECIPE">
        <br><br> -->
        <form method="post" id="processDetails">
            <input type="submit" value="SUBMIT">
            <br><br>
            <input type="text" placeholder="Title"        name="title"/>
            <input type="text" placeholder="Instructions" name="instructions"/>
            <input type="text" placeholder="Servings"     name="servings"/>
            <input type="text" placeholder="Recipe Notes" name="rnotes"/> 
            <br><br>
            <input type="text" placeholder="Amount"           name="amount"/>
            <input type="text" placeholder="Measure"          name="measure"/>
            <input type="text" placeholder="Item"             name="item"/>
            <input type="text" placeholder="Ingredient Notes" name="inotes"/>


        <br><br>    
        <input type="text" placeholder="Item"             name="2item"/>
        <input type="text" placeholder="Amount"           name="2amount"/>
        <input type="text" placeholder="Measure"          name="2measure"/>
        <input type="text" placeholder="Ingredient Notes" name="2inotes"/>
        <br><br>
        <input type="text" placeholder="Item"             name="3item"/>
        <input type="text" placeholder="Amount"           name="3amount"/>
        <input type="text" placeholder="Measure"          name="3measure"/>
        <input type="text" placeholder="Ingredient Notes" name="3inotes"/>
        <br><br>
        <input type="text" placeholder="Item"             name="4item"/>
        <input type="text" placeholder="Amount"           name="4amount"/>
        <input type="text" placeholder="Measure"          name="4measure"/>
        <input type="text" placeholder="Ingredient Notes" name="4inotes"/>
        <br><br>
        <input type="text" placeholder="Item"             name="5item"/>
        <input type="text" placeholder="Amount"           name="5amount"/>
        <input type="text" placeholder="Measure"          name="5measure"/>
        <input type="text" placeholder="Ingredient Notes" name="5inotes"/>
        <br><br>
        <input type="text" placeholder="Item"             name="6item"/>
        <input type="text" placeholder="Amount"           name="6amount"/>
        <input type="text" placeholder="Measure"          name="6measure"/>
        <input type="text" placeholder="Ingredient Notes" name="6inotes"/>
        <br><br>
        <input type="text" placeholder="Item"             name="7item"/>
        <input type="text" placeholder="Amount"           name="7amount"/>
        <input type="text" placeholder="Measure"          name="7measure"/>
        <input type="text" placeholder="Ingredient Notes" name="7inotes"/>
        <br><br>
        <input type="text" placeholder="Item"             name="8item"/>
        <input type="text" placeholder="Amount"           name="8amount"/>
        <input type="text" placeholder="Measure"          name="8measure"/>
        <input type="text" placeholder="Ingredient Notes" name="8inotes"/>
        <br><br>
        <input type="text" placeholder="Item"             name="9item"/>
        <input type="text" placeholder="Amount"           name="9amount"/>
        <input type="text" placeholder="Measure"          name="9measure"/>
        <input type="text" placeholder="Ingredient Notes" name="9inotes"/>
        <br><br>
        <input type="text" placeholder="Item"             name="10item"/>
        <input type="text" placeholder="Amount"           name="10amount"/>
        <input type="text" placeholder="Measure"          name="10measure"/>
        <input type="text" placeholder="Ingredient Notes" name="10inotes"/>
        <br><br>
    </form>
    <p>Title        = <%=title%> </p>
    <p>Instructions = <%=instructions%> </p>
    <p>Servings     = <%=servings%> </p>
    <p>Recipe Notes = <%=rnotes%> </p>
    <p>Ingredient   = <%=amount%> <%=measure%> <%=item%> <%=inotes%></p>
</body>
</html>