<!DOCTYPE html>
<html>
	<head>
		<title>Landing</title>
		<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous">
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="views/client.js"></script>
	</head>

<body>
	<br>
	<form action="/">
		<button id="home">Home</button> 
		<div id="clientResults"></div> 
	</form> 
	<br>		
	<div>
		<button id="getTimestamp">Get Timestamp</button> 
		<!-- <button id="stayCool">Stay Cool</button> -->
		<form action="https://weather.com/weather/tenday/l/789e30ea403dfe3285815bef19260340931c248557a988e96d1eeff46238728a/">
			<button id="stayCool" type="submit">Stay Cool</button>
			</form>

		<button id="beCool">Be Cool</button>
		<p id="timestampResults"></p>
	</div>
	<div id="status"></div>
	<br>
	* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
	<br><br> 
	<form method ="get" action="/displayAllChefs">
		<button id="displayAllChefs">Display all chefs.</button>
	</form> 
	
	<h1>* Welcome to HANDY HELPER *</h1>
	<p>Save and share recipes!</p>
	<p>Divide or double your recipes in a Snap!!</p>   	 
	
	<form method ="get" action="/displayAllRecipes">
		<button id="displayAllRecipes">Display all recipes.</button>
	</form> 

	<br>
	* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
	<div>
		<ul>
			<%
			chefRows.forEach( cr => {
				%>
				<li>Chef ID = <%=cr.chefid%>  <br>  First Name: <%=cr.firstname%>   <br> Last Name:  <%=cr.lastname%> <br></li>
				<form method ="get" action="/addNewRecipe">
					<button id="addNewRecipe">Add New Recipe</button>
				</form>
				<br>
				<%
				})
			%>
		</ul>
	</div>
</body>
</html>


	<!-- <div id="add status"></div>

	<form action="#" method="POST" id="add">
		<label for="chefID ">Chef ID:</label><br>
		<input type="text" id="chefID" name="chefID"><br> 

		<label for="title ">Title:</label><br>
		<input type="text" id="title" name="title"><br>

		<label for="servings ">Servings:</label><br>
		<input type="text" id="servings" name="servings"><br><br>

		<label for="instructions ">Instructions:</label><br>
		<input type="text" id="instructions" name="instructions"><br> 

		<label for="recipeNotes ">Recipes Notes:</label><br>
		<input type="text" id="recipeNotes" name="recipeNotes"><br><br>

		<input type="button" name="newRecipe_form" id="newRecipe_submit" value="Add New Recipe!" onclick="newRecipe()">  
	</form> 
	<br> -->
	<!-- <ul>
		<%
		chefRows.forEach( cr => {
			%>
			<li>Chef ID = <%=cr.userid%>  <br>  First Name: <%=cr.firstname%>   <br> Last Name:  <%=cr.lastname%> <br></li>
			<form action="#" method="POST" id="/newRecipe">
				<input type="button" name="newRecipe_form" id="newRecipe_submit" value="Add New Recipe!" onclick="newRecipe()">
			</form> <br><br>
			<%
			})
		%>
	</ul> -->
