<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="/ajax.js"></script>

<h1>* * HANDY HELPER * *</h1>
<p>Divide or Double your recipe in a Snap!</p>
<p>1. First step:  Input recipe details and ingredients below. Click SUBMIT.</p>

<h3>* * ADD RECIPE DETAILS * *</h3>
<form method="post" id="processDetails">
    <input type="submit" value="SUBMIT">
    <br><br>
    <input type="text" placeholder="Title"        name="title"/>
    <input type="text" placeholder="Instructions" name="instructions"/>
    <input type="text" placeholder="Servings"     name="servings"/>
    <input type="text" placeholder="Recipe Notes" name="rnotes"/>

<h3>* * ADD INGREDIENTS * *</h3>    
    <input type="text" placeholder="Amount"           name="amount"/>
    <input type="text" placeholder="Measure"          name="measure"/>
    <input type="text" placeholder="Item"             name="item"/>
    <input type="text" placeholder="Ingredient Notes" name="inotes"/>
</form>
<p>Title        = <%=title%> </p>
<p>Instructions = <%=instructions%> </p>
<p>Servings     = <%=servings%> </p>
<p>Recipe Notes = <%=rnotes%> </p>
<p>Ingredient   = <%=amount%> <%=measure%> <%=item%> <%=inotes%></p>

<!-- <br>
<p>Instructions = <%=amount%> </p>
<br>
<p>Servings     = <%=measure%> </p>
<br>
<p>Recipe Notes = <%=inotes%> </p> -->
<!-- COMMENT:  ARTWORK     -->
<!-- <form method="post" action=""> -->
    <!-- <div class="tanbackground">
            <button type="submit" name="addbutton" value="addbutton"><img class="button" src="images/addbutton.jpg" alt="addbutton"></button>      
   </div>    
    <div class="grouping" >  
        <?php
 -->
            <!-- foreach ($ingredients as $ingredient)
            {
                    $item    = $ingredient['item'];
                    $amount  = $ingredient['amount'];
                    $measure = $ingredient['measure'];
                    $inotes  = $ingredient['itemnotes'];

                    echo "<div>Ingredient:  $item </div>";
                    echo "<div>Amount: $amount  </div>";

                    echo "<input class='largerCheckbox' type='checkbox' id='item1' name='items[]' value='item $artid'>";                 
                    echo "<label for=artid>#$artid - $price</label>"; 

                    echo "<div>Notes:       $itemnotes  </div>";                        
                echo "</div>";
            }  
        $_SESSION["items"] = $items;        
        ?> -->
        <!-- <br><br><br>                  
    </div>
    </form>       -->